<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>

  {{>navbar}}
   

<!---main header-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-12 mx auto">
            <div class="row">
                <!--left side div -->

                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="images/err.jpg" width="500px" alt="thapa" class="img-fluid" title="abhishek rawe">
                    </figure>
              
                    <p> Welcome to Weather app</p>
                    <h1> {{404error}} </h1>
                    <a href="/" target="_Rawe"><button>Go Back </button></a>
                </div>
            </div>

        </div>      
    </div>
</div> 
<!---footer code-->

{{>footer}}
</body>
</html>